@model ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}




    <div class="login-register-area mt-no-text">
        <div class="container container-default-2 custom-area">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-custom">
                    <div class="login-register-wrapper">
                        <div class="section-content text-center mb-5">
                            
                            <h2 class="title-4 mb-2">@ViewBag.Title.</h2>
                            <p class="desc-content">Please Register using account detail bellow.</p>
                        </div>
                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="single-input-item mb-3">
                                @Html.PasswordFor(m => m.OldPassword, new { placeholder = "OldPassword" })
                            </div>
                            <div class="single-input-item mb-3">
                                @Html.PasswordFor(m => m.NewPassword, new { placeholder = "NewPassword" })
                            </div>
                            <div class="single-input-item mb-3">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "ConfirmPassword" })
                            </div>
                            <div class="single-input-item mb-3">
                                <div class="col-md-offset-2">
                                    <input type="submit" class="btn btn-success" value="Change password" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}