@model OrderViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group col-md-6">
            CustomerName
            <br />
            <br />
            @Html.EditorFor(model => model.CusName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
        <div class="form-group col-md-6">
            Address
            <br />
            <br />
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
        <div class="form-group col-md-6">
            <br />
            OrderDate
            <br />
            <br />
            @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>

        <div class="form-group">
            @Html.Action("GetOrderDetails", "OrderManagement", new { orderId = Model.Id })
        </div>

        <div class="form-group col-md-6">
            <div class="col-md-5">
                <br />
                TotalOrder
                <br />
                @Html.EditorFor(model => model.TotalPrice, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group col-md-6">
            <br />
            @Html.HiddenFor(m => m.Status)
            Status: <b>@(Model.Status == 0 ? "Pending" : "Success")</b>
        </div>

        
        @if (Model.Status == 0)
        {
            <div class="form-group form-button mt-4">
                <input type="submit" name="signup" id="signup" class="btn btn-success" value="Hoàn Thành" />
                @Html.ActionLink("Trở Về", "Index", null, new { @class = "btn btn-light ml-2" })
            </div>
        }
        else
        {
            <div class="form-group form-button mt-4">
                @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-light ml-2" })
            </div>
        }
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
